:root {
    --bg: #f6f7fb;
    --card: #ffffff;
    --muted: #6b7280;
    --accent: #4f46e5;
    --radius: 0.75rem;
    --gap: 1.125rem;
    --font-item-header: 16px;
    --font-main-header: 20px;
    font-family: Inter, ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
    font-size: 16px;
}

body {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin: 2rem 12rem;
    background-color: var(--bg);
    gap: var(--gap);

}

.cart,
.order-summary {
    background-color: var(--card);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    border-radius: var(--radius);
    padding: 1rem 1rem;
  
}

header {
    font-size: var(--font-main-header);
    font-weight: bold;
}
h1 {
       margin-top: 0rem;
}

h4 {
    color: var(--muted);
    font-size: 13px;
    opacity: 70%;
    margin: 0px;
}

.cart {
    width: 60rem;
}

.order-summary {
    width: 40rem;
}

li {
    list-style-type: none;
}

p {
    color: var(--muted);
    line-height: 25px;
    margin: 0.5rem;
}

.item-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 0.1px solid var(--muted);
    border-radius: var(--radius);
    padding: 0.6rem;
    height: 5rem;
    gap: var(--gap);
}


.delete-item-button {
    background-color: transparent;
    border-style: none;
    font-size: 100%;
}

.order-summary {
    gap: var(--gap);
    padding: 20px 15px;
}

.tax-section {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
}

.tax-details {
    display: flex;
    justify-content: space-between;
}

footer {
    color: var(--muted);
    margin-bottom: 17px;
}

.checkout-button {
    background-color: var(--accent);
    color: var(--card);
    padding: 10px 2px;
    margin: auto 10px;
    overflow: hidden;
    border-radius: var(--radius);
    font-size: 10px;
    font-weight: bold;
    border: none;
}

#total-sum {
    font-weight: bolder;
    font-size: var(--font-main-header)
}

.tax-type {
    opacity: 65%;
}

.order-summary header {
    font-size: calc(var(--font-main-header) + 5px);
    margin-bottom: 15px;
}

.cart-item-header {
    font-size: var(--font-item-header);
}

.item-price {
    font-size: var(--font-item-header);
    font-weight: bold;
}

.cart-items {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    padding: 0px;
    margin: 1rem 0.5rem 0.5rem 0.5rem;
    width: 37rem;
}

.item-describtion {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    gap: calc(var(--gap) - 0.8rem);
    padding: 0.5rem;
    margin: 0rem 0rem;
    height: 5rem;
    width: 27rem;
    font:var(--muted);  
    font-size: 14px;
}

img{
    height: 5rem;
    width: 5rem;
}

.item-describtion h4,
.item-describtion p {
  margin: 0; 
  padding: 0;
}