

body {
    margin: 0px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
}

/* FIRST PART */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 200px;
    background-color:  #1F2937;
}

.header-logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
}


ul {
    display: flex;
    gap: 20px;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
    font-size: 18px;
}

/* SECOND PART */

.website-info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    background-color:  #1F2937;
    padding:30px 200px;
}

.website-info img {
    width: 450px;
    height: 240px;
    margin: 60px;
    margin-right: -10px;
    background-color: rgb(178, 177, 175);
    border: 3px solid #0e151e;
}

.website-info .info-box {
    color: #F9FAF8;
    display: flex;
    flex-direction: column;
    gap: 6px;
    align-items: start;
    overflow: visible;
    width: 500px;
    padding: 90px 0px;

    /* max-width: 450px;
    max-height: 300px;
    gap: 10px; */
}


.website-info .info-box .website-description {
    font-size: 18px;
    color: rgba(255, 255, 255, 0.6);
}

.website-info .info-box .subscribe-button {
    color: white;
    padding: 7px 25px;
    border-radius: 5px;
    border: none;
    font-size: 13px;
    font-weight: 700;
       background-color: #3882F6;
}

.website-opinion {
    font-weight: bold;
    font-size: 48px;
}


/* THIRD PART */

.random-info {
    display: flex;
    gap:10px;
    flex-direction: column;   
    /* padding: 20px 60px;  */
}

.info-slots{
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-bottom: 100px;
    text-align: center;
    padding: 10px 220px;
}

.slot {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap:10px;
    align-items: center;
}

.slot img {
    width: 150px;
    height: 150px;
}

.info-slots img {
    border: 3px solid rgb(63, 146, 240);
    border-radius: 10%;
}

.slot .random-text {
  text-align: center;
  align-items: center;
  max-width: 150px;
  color: rgba(43, 41, 41, 0.6);
  line-height: 1.4;
}
.random-info .random-info-description {
    align-self: center;
    font-size: 36px;
    font-weight: bold;
    color: #1F2937;
    margin-top: 30px;
    margin-bottom: 20px;
}
/* FOURTH PART */

.quote {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: #E5E7EB;
    padding: 90px 300px;
}

.quote-author {
    align-self: flex-end;
    padding-right: 50px;
    color: rgb(49, 48, 48);
    font-size: 20px;
    font-weight: 800;
}

.quote-text{
    color: rgba(24, 30, 45, 0.6);
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    max-width: 830px;
}

/* FIFTH PART */

.buy-button {
    background-color: #3882F6;
    margin-top: 10px;
}

.action {
     display: flex;
     flex-shrink: 0;
     overflow: visible;
     border-radius: 7px;
     justify-content: space-between;
     background-color: #3882F6;
     margin: 60px 240px;
     padding: 35px 100px;
}

.action .text-area {
    color: rgba(255, 255, 255, 0.6);
}

.action .text-area .bigger-text {
    font-size: 20px;
    color: white;
    font-weight: bold;
}

.action .buy-button {
    color: rgb(255, 255, 255);
    overflow: visible;
    border-radius: 5px;
    border: 1.5px solid white; 
    padding: 5px 30px;   
    margin-right: 20px;     
}

/* SIXTH PART */

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color: rgb(230, 229, 229);
    padding: 20px;
    font-size: 12px;
}
