@font-face {
    font-family: 'Norse-Bold';
    src: url('fonts/Norse-Bold.woff2') format('woff2'),
         url('fonts/Norse-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap; 
}
:root{
    --bg: rgb(231, 227, 227);
    --sign-up-color: white;
    --description-font: 15px;
    --greyish-font: rgb(189, 189, 189);
    --wrong-pas: #702525;
    --label-font-size: 10px;
    --correct-input-col: rgb(23, 104, 175);
    --create-button-color-bg: #596D48;
    --light-border: #E5E7EB;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    display: flex;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto; 
}

.logo {
    font-family: 'Norse-Bold', sans-serif;
}

.left .leaf-img {
    height: 100%;
    width: 25rem;
    display: block;
}

.right {
    background-color: rgba(216, 216, 216,0.2);
    min-width: 60%;
}

.right .page-description{
    padding: 3rem 3rem;
}

.left {
    position: relative;
}

.photo-credits {
  position: absolute; 
  bottom: 0.5rem;
  left: 10rem;
  color: white;     
  font-size: 0.5rem;
  opacity: 0.8;
}

.sign-section{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: white;
    box-sizing: border-box;
    box-shadow: 0 4px 6px -3px rgba(0, 0, 0, 0.2); /* x-offset | y-offset | blur | color */
}

h1 {
    margin-left: 2.2rem;
    margin-bottom: -1rem;
    padding-bottom: 0rem ;
}

.names, .email-phone, .password {
    display: flex;
    gap: 11rem;
    margin: 0rem 2rem;
}
.password {
    margin-bottom: 1.5rem;
}

.names{
    padding-top: 0rem;
}

label{
    font-size: 0.7rem;
    color:rgb(110, 109, 109);
}

.create-account {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 2rem 2rem;
}

.create-account button {
    height: 2.3rem;
    width: 14rem;
    border: 0.2 solid rgb(241, 241, 241);
    border-radius: 0.6rem;
    padding: 0.3rem 3rem;
    color: white;
    background-color:  var(--create-button-color-bg);
}

.create-account .question {
   margin: 0rem;
}

a {
    text-decoration: none;
    color: var(--create-button-color-bg)
}