@font-face {
    font-family: 'Norse-Bold';
    src: url('fonts/Norse-Bold.woff2') format('woff2'),
         url('fonts/Norse-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap; 
}
:root{
    --bg: rgb(231, 227, 227);
    --sign-up-color: white;
    --description-font: 15px;
    --greyish-font: rgb(189, 189, 189);
    --wrong-pas: #702525;
    --label-font-size: 10px;
    --correct-input-col: rgb(23, 104, 175);
    --create-button-color-bg: #596D48;
    --light-border: #E5E7EB;
}

body {
    display: flex;
    height: 100vh;
    margin: 0; /* remove default browser margin */
    font-family: 'Norse-Bold', sans-serif;
}

.left{
    width: 30%;
    display: flex;
    flex-shrink:1;
    align-items: center;
    justify-content: center;

}

/* .left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
} */

.right {
    flex-shrink: 0;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center; /* vertically center content */
    padding: 2rem 3rem;
    background-color: var(--bg);
}