:root {
	--header-bg: #121212;
	--text-black: #000000;
	--text-gray: #737373;
	--text-blue: #0e63be;
	--button-hover-bg: #e9eef6;
	--button-gray-bg: #efefef;
    --root-size: 16px;
    --radius: 1rem;
    --green :rgb(6, 84, 35);
}

html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 2rem 6rem;
    gap: 5rem;
}

html {
    font-size: var(--root-size);
}

.header {
    width: 100%;
    height: 3rem;
    background-color: var(--text-black);
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 0.3rem 5rem;
    gap: 1rem;
    position: fixed;
}

.header img {
    height: 2rem;
}

.header button:hover{
    background-color: var(--button-hover-bg);
    border-radius: calc(var(--radius)/2);
    cursor: pointer;
}
.header button{
    border-radius: calc(var(--radius)/2);
}

.header .separator {
    height: 2rem;
    width: 2px;
    background-color: var(--button-hover-bg);
    display: inline-block;
    margin-right: 1rem;
}

.header input {
   flex-grow: 1;
   padding: 0rem 2rem;
}

.movies li img {
    height: 5rem;
    width: 3rem;
}

.search-header {
    margin-bottom: 4rem;
    padding: 0;
    font-size: 3rem;
}

.titles {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    align-items: center;
    height: 3rem;
    margin-bottom: 1.5rem;
    border-left: 0.2rem solid var(--green);
}

.titles h2{
    font-size: 2rem;
    margin-left: 0.7rem;
}

.titles button {
    border: transparent;
    background-color: transparent;
    font-size: 0.7rem;
    cursor: pointer;
}

.titles .matches:hover{
    background-color: var(--button-hover-bg);
    border-radius: var(--radius);
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    box-sizing: border-box;
    padding: 0.5rem 1rem;
}

li{
    display: flex;
    gap: 2rem;
    border-radius: var(--radius);
    border: 0.1rem solid grey;
    padding: 0.3rem 1rem;
}

li .movie-description {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    gap: 0.2rem
}

.movie-description .movie-title {
    font-weight: bold;
}

li img {
    border-radius: calc(var(--radius)/2);
}

.footer {
    height: 4rem;
    background-color: #000000;
    position: fixed;
    bottom: 0;
     width: 100%; 
}

.right-side {
     margin-top: 2rem;
}
.right-side h1 {
   
    font-size: 2rem;
    border-left: 0.2rem solid var(--green); 
    padding-left: 0.7rem;
}

.right-side h3 {
    color: var(--text-gray);
}

.right-side .categories{
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.categories .category{
    border-radius: var(--radius);
    border: 0.05rem solid grey;
    padding: 0.5rem;
}


@media (width <= 720px) {
	.header .separator,
	.header input,
	.header button {
		display: none;
	}

	.header {
		justify-content: center;
	}

	main {
		display: flex;
		flex-direction: column;
		padding: 1rem 2rem;
	}

	.footer {
		position: initial;
	}
}
